---
import Signpost from "../signpost/signpost.astro";
---

<section class="acknowledgements">
  <h2>Shoulders of giants</h2>
  <p>
    Thanks to <a href="https://moderncss.dev">ModernCSS.dev</a>, <a
      href="https://utopia.fyi">Utopia.fyi</a
    >, <a
      href="https://developer.mozilla.org/en-US/docs/MDN/Writing_guidelines/Code_style_guide/CSS"
      ><abbr title="Mozilla Developer Network">MDN</abbr> Style Guide</a
    >, <a href="https://modern-css.com">modern.css</a>, and <a
      href="https://github.com/clagnut/TODS"
      ><abbr title="Typography and OpenType Default Stylesheet">TODS</abbr></a
    >. If you'd like to learn more about modern CSS, these are great places to
    start. And to my fellow <a href="https://stylelint.io">Stylelint</a> maintainers,
    who proved that better tooling leads to better CSS.
  </p>
  <h3>Join in</h3>
  <p>
    The <a href="/skill">rules</a> are a living document. I've started with the big
    wins, but there's plenty more we can do. Let's make modern CSS the norm, for the
    good of the web.
  </p>
  <Signpost href="https://github.com/moderncss/skills"
    >Get involved on GitHub</Signpost
  >
</section>
