@scope (footer) {
  :scope {
    border-block-start: var(--line-length) solid var(--color-line);
    display: block grid;
    font-size: var(--font-size-s);
    gap: var(--length-2xs) var(--length-3xs);
    hyphens: manual;
    margin-block-start: var(--length-l-xl);
    padding-block: var(--length-l-xl);

    @media (width > 30em) {
      grid-template-columns: 1fr auto;
    }
  }

  p,
  a {
    color: var(--color-fg-muted);
  }

  p {
    margin-block: 0;

    &:has(svg) {
      display: block flex;
      gap: var(--length-3xs);
      place-items: center;
    }

    &:nth-of-type(2) {
      gap: var(--length-2xs);
    }

    &:not(:has(svg)) {
      grid-column: 1 / -1;
      margin-block-end: var(--length-xs);

      @media (width > 30em) {
        margin-inline: auto;
        max-inline-size: 72ch;
        text-align: center;
      }
    }
  }

  a {
    &:hover,
    &:focus-within {
      color: var(--color-fg);
    }
  }

  p:has(svg) a {
    display: block flex;
    gap: var(--length-3xs);
    place-items: center;
  }

  svg {
    block-size: 1em;
    inline-size: 1em;
  }
}
